<div class="main-slider">
  <section class="banner">
    <div class="container">
        <div class="banner-text">
            <h1 class="text-uppercase">Most Efficient It solutions</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
            <a href="#" class="theme-btn btn">enquire Now</a>
        </div>
    </div>
  </section>
</div>
