<app-footer-form></app-footer-form>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="vCenter">
        <ul>
          <li><p>Copyright &copy; wolftechnica 2019</p></li>
          <li class="social" style="text-align:center;">
              <a href=""><span><i class="fa fa-twitter"></i></span></a>
              <a href=""><span><i class="fa fa-facebook"></i></span></a>
              <a href=""><span><i class="fa fa-linkedin"></i></span></a>
              <a href=""><span><i class="fa fa-google-plus"></i></span></a>
          </li>
          <li class="footer-link" style="text-align:right;">
            <a href="#">Privacy Policy</a>
            <a href="#">Term of Use</a>
          </li>
        </ul>
    </div>
    </div>
  </div>
</div>
<!-- <nav class="navbar navbar-dark bg-dark mt-5">
  <div class="navbar-expand m-auto navbar-text">
    Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/beeman_nl">beeman</a>
  </div>
</nav> -->