<div id="home">
<header class="main-bgcolor">
  <div class="container">
<nav class="navbar navbar-expand-lg" style="padding:0px;">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.png" alt="wolftech" class="img-responsive">
  </a>
  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="#home">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#service">Our Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
</div>
</header>
<app-slider></app-slider>
</div>