<section class="page-section" id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="page-left">
          <div class="page-title">
            <h2>About <span class="main-txtcolor">Us</span></h2>
          </div>
          <div class="simple-text-box">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <ul>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="padding:0px;">
          <div class="right-side-image">
              <img src="../../../../assets/images/side-imag.PNG" alt="form-img" class="img-responsive m-img" loading="lazy">
            </div>
      </div>
    </div>
  </div>
</section>
<section class="our-service" id="service">
  <div class="container-fluid">
      <div class="row text-center">
        <div class="page-title">
            <h2>Our <span class="main-txtcolor">Services</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12" style="padding:0px;">
        <div class="feature">
          <ul>
            <li class="bg-1">
              <div class="fet-title">
                <img src="../../../../assets/images/icon1.PNG" alt="feature1" class="img-responsive icon"><span>Reactive Microservices</span>
              </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </li>
            <li class="bg-2">
                <div class="fet-title">
                  <img src="../../../../assets/images/icon2.PNG" alt="feature1" class="img-responsive icon"><span>Reactive Microservices</span>
                </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              <p></p>
              </li>
              <li class="bg-3">
                  <div class="fet-title">
                    <img src="../../../../assets/images/icon3.PNG" alt="feature1" class="img-responsive icon"><span>Reactive Microservices</span>
                  </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              <p></p>
              </li>
              <li class="bg-4">
                  <div class="fet-title">
                    <img src="../../../../assets/images/icon4.PNG" alt="feature1" class="img-responsive icon"><span>Reactive Microservices</span>
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </li>
                <li class="bg-5">
                    <div class="fet-title">
                      <img src="../../../../assets/images/icon5.PNG" alt="feature1" class="img-responsive icon"><span>Reactive Microservices</span>
                    </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <p></p>
                  </li>
                  <li class="bg-6">
                      <div class="fet-title">
                        <img src="../../../../assets/images/icon6.PNG" alt="feature1" class="img-responsive icon"><span>Reactive Microservices</span>
                      </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <p></p>
                  </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
