.page-left{
    padding-left: 15%;
    padding-top: 40px;
    padding-right: 30px;
}
.page-title{
    width: 100%;
    padding-top: 30px;
}
.page-title h2{
    position: relative;
    font-size: 35px;
    margin-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
    display: inline-block;

}
.page-title h2:before{
    content: '';
    width: 50px;
    height: 3px;
    background: #20a3f0;
    position: absolute;
    left: 0px;
    top: 50%;
}
.page-title h2:after{
    content: '';
    width: 50px;
    height: 3px;
    background: #20a3f0;
    position: absolute;
    right: 0px;
    top: 50%;
}
.our-service{
    background: #ddd9d9;
    padding: 0px;
    height: 100%;
}
.feature ul {
    padding: 0px;
    margin:0px;
    padding-top: 40px;
}
.feature ul li{
    width: 33.33%;
    display: inline-block;
    border:.5px solid #fff;
    color: #ffffff;
    border-top: none;
    padding:45px;
    border-left: none;
}
.feature ul li:first-child{
    border-left: none;
}
.feature ul li:last-child{
    border-right:none;
    border-bottom: 0px;
}
.feature ul li:nth-child(4){
    border-left: none;
    border-bottom: 0px;
}
.feature ul li:nth-child(5){
    border-bottom: 0px;
}
.feature ul li:nth-child(3){
    border-right:none;
}
.feature ul li p{
    font-size: 16px; 
    line-height: 25px;
}
.bg-1{background: #9b61dc;}.bg-2{background:#20a3f0}.bg-3{background: #22cae4
    ;}
.bg-4{background: #619dc0}.bg-5{background: #22d3a7}.bg-6{background:#5db6ea}
.fet-title span{ font-size: 18px; font-weight: 300; line-height: 28px; display: inline-block; padding-left: 7px;}