/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body{
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif; 
}
/* Generic*/
input{
    font-family: 'Raleway', sans-serif;
}
.container{
    max-width: 1190px;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.main-bgcolor{
    background: #20a3f0;
}
.main-txtcolor{
    color: #20a3f0;
}
.m-fs-21{
    font-size: 21px;
    line-height: 30px;
}
.m-fs-18{
    font-size: 18px;
    line-height: 25px;
}
/*=========== title===============*/
.page-title{
    width: 100%;
    padding-top: 30px;
}
.page-title h2{
    position: relative;
    font-size: 35px;
    margin-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
    display: inline-block;

}
.page-title h2:before{
    content: '';
    width: 50px;
    height: 3px;
    background: #20a3f0;
    position: absolute;
    left: 0px;
    top: 50%;
}
.page-title h2:after{
    content: '';
    width: 50px;
    height: 3px;
    background: #20a3f0;
    position: absolute;
    right: 0px;
    top: 50%;
}
.theme-btn{
    min-width: 160px;
    font-size: 18px;
    text-align: center;
    padding: 10px 18px;
    font-weight: 300;
    color: #ffffff;
    background: #20a3f0;
    text-transform: capitalize;
    letter-spacing: .5px;
}
section{
    height: 100%;
}
.banner{
    width: 100%;
    height: 91vh;
    background: url(assets/images/Blog-Banner.png) no-repeat center center;
}
.banner-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner-text h1{
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 25px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1px;
    
}
.banner-text p{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: .5px;
    padding-bottom: 25px;
}
.footer-bottom{
    background: #444444;
    color: #ffffff;
    width: 100%;
    display: block;
    overflow: hidden
}
.vCenter{
    width: 100%;
}
.vCenter ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.vCenter ul li{
    width: 33.33%;
    display: inline-block;
    padding: 7px;
}
.vCenter ul li p{
    margin: 0px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.social span{
    display: inline-block;
    margin: 0 7px;
    color: rgba(0,0,0,.4);
}
.footer-link a{
    font-size: 14px;
    color: #ffffff;
    margin:0 7px;
    font-size: 14px;
    text-transform: capitalize;
}
.footer-form{
    height: 100%;
}
.m-img{
    object-fit: cover;
    max-width: 100%;
}
.form-box{
    padding-left: 15%;
}

/*=============== Responsive==============*/
@media(max-width:767px){
    .page-left{
        padding: 0px !important;
    }
    .feature ul li{
        width: 100% !important;
    }
    .address ul li{
        width: 100% !important;

    }
    .vCenter ul li{
        width: 100% !important;
        text-align: center;
    }
    .footer-link{ text-align: center !important;}
    .navbar-expand-lg .navbar-collapse{
        background: #20a3f0;
        height: 100vh;
        width: 100vw;
        position: absolute;
        left: -15px;
        z-index: 9;
        top: 70px;
    }
}
