.form-box{
    padding-top: 45px;
}
.contact-form{
    padding: 20px 0px;
    padding-right: 40px;
    width: 100%;
    float: left;
}
.m-form{
    width: 100%;
    padding: 10px;
    height: 45px;
    border: 1px solid #dddddd;
    border-radius: 1px;
    /* margin-bottom: 20px; */
    font-size: 18px;
    font-weight: 100;
}
textarea{
    height: 100px !important;
}
::-webkit-input-placeholder{
 color: #dddddd;
 opacity: .7;
 font-weight: 100;
 font-family: 
}
.m-btn{
    margin-top: 10px;
    background: #20a3f0;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 15px;
    border: none;
    outline: none;
    color: #ffffff;
    min-width: 120px;
    text-align: center;
    transition: all .3s;

}
.m-btn:hover{
    background: #62b1df;
}
.address{
    width: 100%;
    padding: 20px 0px;
    float: left;
}
.address ul{
    padding: 0px;
}
.address ul li{
    width: 50%;
    display: block;
    padding-right: 20px;
    float: left;
}