<section class="footer-form" id="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" style="padding:0px;">
        <div class="form-box">
            <div class="page-title">
                <h2>Contact <span class="main-txtcolor">Us</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
            <div class="address">
              <ul>
                  <li><p><strong>Address:</strong> Wolftechnica software services 678, Sanjay Enclave, NIT faridabad, Harayana-121001</p></li>
                  <li><p><strong>Contact:</strong> <a href="tel:9999060632"> +91-9999060632</a></p></li>
              </ul>
            </div>
          <form action="post" class="contact-form">
            <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-cotrol m-form" name="fname" placeholder="First Name" maxlength="100">
            </div>
            <div class="col-md-6 form-group">
                <input type="text" class="form-cotrol m-form" name="lname" placeholder="Last Name" maxlength="100">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="email" class="form-cotrol m-form" name="email" placeholder="Email Address" maxlength="30">
            </div>
            <div class="col-md-6 form-group">
                <input type="tel" class="form-cotrol m-form" name="mobile" placeholder="Contact Number" maxlength="10">
              </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <textarea class="form-control m-form" placeholder="Your Messgaes" maxlength="200"></textarea>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 form-group">
                <input type="submit" class="m-btn" value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6" style="padding:0px;">
          <div class="right-side-image">
              <img src="../../../../assets/images/footer-img.PNG" alt="form-img" class="img-responsive m-img" loading="lazy">
            </div>
      </div>
      
    </div>
  </div>
</section>
